<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Cards Against Humanity</title>
  <link rel="stylesheet" href="/css/application.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.2/jquery.cookie.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/json2/20121008/json2.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/jst.js"></script>
</head>
<body>
  <header>
    <h1>Cards Against Humanity</h1>
    <h2>A webapp-based card game for horrible people.</h2>
  </header>

  <a href="#" class="new-game">Start New Game</a>
  <input name="code" type="numbers">
  <a href="#" class="join-name">Join a Game</a>

  <footer>
    This is in no way licenced or even condoned by the real makers of Cards Against Humanity, so there's a good chance we'll get a C&amp;D. Enjoy while it lasts.
  </footer>
</body>
</html>
